# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
.project
.settings/
out/

# Flutter
.metadata
.packages
/build/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# Android
/android/key.properties
/android/local.properties
/android/.gradle/
/android/app/src/main/assets/flutter_assets/
/android/gradlew
/android/gradlew.bat

# Dart
.dart_tool/
.pub-cache/
.pub/

# Firebase
.firebase/
firebase-debug.log
.firebaserc

# AdMob Secrets
lib/ad_secrets.dart

# Logs
*_logs.txt
