# Xcode
#
# gitignore contributors: remember to keep this file platform-agnostic
#
build/
DerivedData/
.DS_Store
*.hmap
*.ipa
*.xcscheme
# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to differ the CocoaPods installation files
# from your own source code changes.
#
# Podfile.lock
#
# Flutter
#
# Generated.xcconfig
Flutter/Generated.xcconfig
Flutter/ephemeral
Flutter/ephemeral.lock
.generated/
